/* Increase the font size for the navigation bar */
.nav-link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* Make the navigation bar centered */
.navbar {
    display: flex;
    justify-content: center;
}

/* Apply a background color when hovering over the links */
.nav-link:hover {
    color: #fff;
    background-color: #2fc2df;
}

/* Apply styles for the active link */
.active {
    color: #fff;
    background-color: #2fc2df;
}
